.main-product {
  max-width: 1000px;
  -webkit-box-shadow: 1px 1px 20px;
          box-shadow: 1px 1px 20px;
  padding: 15px;
  background-color: white;
  margin: 2vw auto 50px;
}

.wrapper-text {
  padding-top: 15px;
  text-align: center;
}
.wrapper-text .bold-name {
  font-family: "proxima-Bold", serif;
  font-size: 1.3em;
  margin-bottom: 25px;
}

.details {
  padding: 10px;
  background-color: #474747;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1em;
  font-family: "proxima-bold", serif;
}

.wrapper-payment .second-text {
  font-family: "proxima-bold", serif;
  font-size: 1.2em;
}
.wrapper-payment .first_text {
  margin-bottom: 10px;
  font-family: "proxima-bold", serif;
  font-size: 1.3em;
}

.image-product img {
  width: 100%;
}

.flex-text-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__heading {
  font-family: "proxima-Bold", serif;
  font-size: 1.5em;
  text-align: center;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid black;
}

.naming {
  font-family: "proxima-Bold", serif;
  font-size: 1.5em;
  text-align: center;
  margin: 15px 0;
}

.product-image {
  margin-top: 15px;
}
.product-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.details-rest {
  font-size: 1.2em;
  padding: 20px;
}