* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

li a {
  color: inherit;
}

@font-face {
  font-family: "proxima";
  src: url("../font/proxima/ProximaNova-Regular.ttf");
}
@font-face {
  font-family: "proxima-bold";
  src: url("../font/proxima/ProximaNova-Semibold.ttf");
}
@font-face {
  font-family: "proxima-Extra-Bold";
  src: url("../font/proxima-ExtraBold.ttf");
}
body {
  height: 100%;
  font-family: "proxima", sans-serif;
  background-color: #dfdfdf;
}

.header {
  color: #fffffe;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  background-color: #1a1919;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: inline-block;
  height: inherit;
}
.header__img {
  padding-top: 7px;
  height: 85%;
}
.header__title {
  color: #ffee57;
  font-weight: normal;
  font-size: 2.2em;
  letter-spacing: 0.5px;
  margin-left: 15px;
}
.header__link {
  position: relative;
  bottom: 3px;
}
.header__slogan {
  letter-spacing: 0;
  padding-top: 5px;
  border-top: 1px solid #ffee57;
  font-size: 0.5em;
  color: white;
}
.header__nav {
  margin: 0 30px 0 auto;
  height: inherit;
  width: 400px;
}
.header__list {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__item {
  font-size: 1.7em;
}
.header__button {
  display: none;
}
.header__button img {
  width: 50px;
}

.main {
  width: 90%;
  margin: 0 auto;
}
.main__tagline {
  -webkit-box-shadow: black 1px 1px 10px;
          box-shadow: black 1px 1px 10px;
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  padding: 10px;
  color: white;
  background-color: #1a1919;
  margin: 2vw auto 2vw auto;
  z-index: 1;
}

.all-wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
.wrapper__yellow-block {
  position: absolute;
  width: 200px;
  height: 400px;
  background-color: #ffee57;
  bottom: -150px;
  right: -50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.wrapper__yellow-block-top {
  position: absolute;
  width: 200px;
  height: 400px;
  background-color: #ffee57;
  top: -150px;
  left: -50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 0;
}

.block-info {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 20px;
          box-shadow: 1px 1px 20px;
  margin-bottom: 5vh;
  cursor: pointer;
}
.block-info__subgrid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 66px;
  grid-template-rows: 66px;
}
.block-info__main-phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "proxima-bold", serif;
  font-size: 2em;
  background-color: #ffee57;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #3f4042;
  padding: 0 10px;
  border-radius: 9px 9px 0 0;
}
.block-info__list {
  font-size: 1.2em;
  padding: 7px;
  text-align: left;
}
.block-info__list ul {
  margin-left: 20px;
  margin-top: 20px;
}
.block-info__list ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: black;
}
.block-info__list ul li:hover {
  color: #4e4e4e;
}
.block-info__bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.block-info__bottom-wrapper img {
  width: 100px;
}
.block-info__wrapper {
  margin-left: 5px;
  margin-right: 20px;
  font-size: 1.2em;
  line-height: 1.3em;
}
.block-info__text2 {
  display: inline-block;
  background-color: #ffee57;
}

.block-info__wrapper-list .topmenu {
  padding: 25px 20px;
}
.block-info__wrapper-list > .topmenu > li {
  font-size: 1.4em;
  padding-bottom: 10px;
}
.block-info__wrapper-list .transform-list {
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
}
.block-info__wrapper-list .submenu1, .block-info__wrapper-list .submenu2 {
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 15px;
  top: 5px;
  z-index: 9999;
  display: none;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}
.block-info__wrapper-list .submenu1 li, .block-info__wrapper-list .submenu2 li {
  padding: 5px;
}
.block-info__wrapper-list .submenu1 li:hover, .block-info__wrapper-list .submenu2 li:hover {
  background-color: #dfdfdf;
}
.block-info__wrapper-list .protect:hover .submenu1 {
  display: inline-block;
}
.block-info__wrapper-list .protect:hover .transform-list {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.block-info__wrapper-list .signalisation:hover .submenu2 {
  display: block;
}
.block-info__wrapper-list .signalisation:hover .transform-list {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.transition {
  display: inline-block;
  font-family: "proxima-bold", serif;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer {
  background-color: #2b2a2a;
}
.footer__text {
  font-size: 1.3em;
  color: #888888;
  padding: 20px 5vw;
}
.footer__list-product > li {
  padding-bottom: 3px;
}

@media (min-width: 500px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.popup {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}
.popup__content {
  background-color: #dfdfdf;
  max-width: 600px;
  height: 100%;
  padding: 15px 10px 10px 10px;
  border-radius: 10px;
  position: relative;
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.popup__close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 3em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup__wrapper-contacts {
  font-size: 1.4em;
  padding: 27px 0 27px 15px;
  max-width: 300px;
  border-bottom: 2px solid black;
}
.popup__wrapper-contacts > div {
  margin-bottom: 7px;
}
.popup__wrapper-contacts > div .bold {
  font-family: "proxima-bold", serif;
}
.popup__adres-contacts {
  font-size: 1.4em;
  line-height: 1.5em;
  padding: 27px 15px 27px 15px;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.popup-menu {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}
.popup-menu__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup-menu__body {
  color: white;
  height: inherit;
  width: 300px;
  background-color: black;
}
.popup-menu__content {
  padding: 15px;
  position: relative;
}
.popup-menu__close {
  font-size: 3em;
  position: absolute;
  top: -7px;
  right: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popup-menu__heading {
  font-size: 2em;
  color: white;
  border-bottom: 2px solid white;
  padding: 10px 30px 5px 0;
}
.popup-menu .list-menu .menu-ul {
  margin-top: 15px;
}
.popup-menu .list-menu .menu-ul li {
  border-left: 2px solid white;
  padding-left: 10px;
  color: white;
  font-size: 1.7em;
  margin-bottom: 20px;
}
.popup-menu:target {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.main-product {
  margin: 0 15px;
}

.main-block {
  border-radius: 10px;
  border: 1px solid black;
  max-width: 1000px;
  -webkit-box-shadow: 1px 1px 20px;
          box-shadow: 1px 1px 20px;
  padding: 15px;
  background-color: white;
  margin: 2vw auto 50px;
}
.main-block__image-product img {
  width: 100%;
}
.main-block__wrapper-text {
  padding-top: 15px;
  text-align: center;
}
.main-block .bold-name {
  font-family: "proxima-Bold", serif;
  font-size: 1.3em;
  margin-bottom: 25px;
}
.main-block .flex-text-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-block .second-text {
  font-family: "proxima-bold", serif;
  font-size: 1.2em;
  display: inline-block;
  padding: 3px;
  background-color: #ffee57;
}
.main-block .first_text {
  margin-bottom: 10px;
  font-family: "proxima-bold", serif;
  font-size: 1.3em;
}
.main-block .details {
  padding: 10px;
  background-color: #474747;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.1em;
  font-family: "proxima-bold", serif;
}

.main-phrase__product {
  width: 97%;
  margin: 20px auto;
}
.main-phrase__text {
  background-color: #1a1919;
  color: white;
  font-size: 1.4em;
  padding: 20px;
}
.main-phrase__product___half-width {
  max-width: 900px;
  margin: 25px;
}

.grid-container-product-button__main-page {
  margin: 0 20px;
}

.wrapper-main {
  margin: 3vw;
}
.wrapper-main__body {
  margin: 0 auto;
  max-width: 600px;
  background-color: white;
  -webkit-box-shadow: 0px 1px 10px;
          box-shadow: 0px 1px 10px;
  border-radius: 10px;
}
.wrapper-main__content {
  position: relative;
  text-align: center;
}
.wrapper-main .body-card {
  padding: 15px 0;
}
.wrapper-main .product__heading {
  font-family: "proxima-bold", serif;
  font-size: 1.7em;
  border-bottom: 2px solid black;
  padding: 15px;
}
.wrapper-main .naming {
  font-family: "proxima-bold", serif;
  font-size: 1.7em;
  padding-top: 7px;
}
.wrapper-main .details-rest {
  padding: 10px 5px 10px 15px;
  font-size: 1.3em;
  text-align: left;
}
.wrapper-main .close {
  position: absolute;
  top: -3px;
  right: 7px;
  font-size: 2.5em;
  font-family: "proxima-bold", serif;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.wrapper-main img {
  max-width: 100%;
}
.wrapper-main .product-image__ajax {
  padding: 0 10px;
}

@media (max-width: 870px) {
  .header__slogan {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__button {
    display: block;
    margin: 0 20px 0 auto;
  }
  .header__link {
    top: 0.5px;
  }

  .grid-container-product-button {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3vw 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 3vw;
  }

  .grid-container-product-button > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .grid-container-product-button > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .grid-container-product-button > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .grid-container-product-button > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}
@media (min-width: 550px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10vw 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10vw;
  }
  .grid-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .grid-container > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .grid-container > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid-container > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}
@media (max-width: 550px) {
  .grid-container-product-button {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .grid-container-product-button > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-container-product-button > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-container-product-button > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
@media (min-width: 1050px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10vw 1fr 10vw 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10vw;
  }
  .grid-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .grid-container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .grid-container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid-container > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .grid-container > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
}
@media (min-width: 870px) {
  .grid-container-product-button {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3vw 1fr 3vw 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3vw;
  }
}
.heading {
  font-size: 2em;
  border-bottom: 2px solid black;
  padding-bottom: 17px;
  text-align: center;
}

.grid-container-product-button {
  margin: 0 30px;
}
.grid-container-product-button > main {
  border-radius: 10px;
  border: 1px solid black;
}