.main-about-us{
    &__body{
        padding: 5vw 15vw;
    }

    &__content-grid{
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 20px;
        border-radius: 10px;
        border: 1px solid black;
        box-shadow: 1px 1px 20px;;
    }
    
    .logo-image{
        img{
            width: 100%;
        }
    }

    &__header{
        text-align: center;
        font-family: 'proxima-bold', sans-serif;
        font-size: 2em;
        padding-bottom: 15px;
        border-bottom: 2px solid black  ;
    }

    &__main-text{
        letter-spacing: normal;
        font-size: 1.4em;
        padding: 15px 0 0 10px;
        line-height: 25px;
        
    }
    .main-text__about-us{
        text-indent: 40px;
        margin-bottom: 10px;
        &___bold{
            font-weight: bold;
            margin-bottom: 0;
        }
    }
    .list-indent{
        padding-left: 50px;
    }
}