@import "null-style.scss";

@font-face {
    font-family: "proxima";
    src: url('../font/proxima/ProximaNova-Regular.ttf');
}

@font-face {
    font-family: "proxima-bold";
    src: url('../font/proxima/ProximaNova-Semibold.ttf');
}

@font-face {
    font-family: "proxima-Extra-Bold";
    src: url('../font/proxima-ExtraBold.ttf')
}

$background: rgb(223, 223, 223);
$headline: #fffffe;
$grey-black: rgb(26, 25, 25);
$yellow-color: #ffee57;

%image-template{
    margin-top: 15px;
    background-size: cover;
    overflow: hidden;
}


body{
    height: 100%;
    font-family: 'proxima', sans-serif;
    background-color: $background; 
    max-width: 100%;
    overflow-x: hidden; 
}

@import "main/header.scss";
@import "main/main.scss";
@import "main/footer.scss";
@import "popup/popup-contacts.scss";
@import "popup/popup-menu.scss";
@import "product-main.scss";
@import "cards.scss";


@media (max-width: 870px){
    .header{
        &__slogan{display: none;}
        &__nav{display: none;}
        &__button{display: block; margin: 0 20px 0 auto;}
        &__link{top: .5px;}
    }

    .grid-container-product-button{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 3vw;
    }
}

@media (min-width: 550px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 10vw;
    }
}

@media (max-width: 550px) {
    .grid-container-product-button{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    } 
}

@media (min-width: 1050px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 10vw;
    }
}

@media (min-width: 870px) {
    .grid-container-product-button{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 3vw;
    } 
}


.heading{
    font-size: 2em;
    border-bottom: 2px solid black;
    padding-bottom: 17px;
    text-align: center;
}

.grid-container-product-button{
    &> main{
        border-radius: 10px;
        border: 1px solid black;
    }
    margin: 10px 20px;
} 
