.footer{
    background-color: rgb(43, 42, 42);
    &__text{
        font-size: 1.3em;
        color: rgb(136, 136, 136);
        padding: 20px 5vw;
    }
    &__list-product > li{
        padding-bottom: 3px;
    }
}

@media (min-width: 500px) {
    .footer{
     display: flex;   
    }
}

